<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/policlinic</property>
        <property name="hibernate.connection.username">sciphilib</property>
        <property name="hibernate.connection.password">sciphilib</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.lab2.entities.Doctor"/>
        <mapping class="com.lab2.entities.Specialization"/>
        <mapping class="com.lab2.entities.Appointment"/>
        <mapping class="com.lab2.entities.Visit"/>
        <mapping class="com.lab2.entities.Patient"/>
        <mapping class="com.lab2.entities.Medication"/>
        <mapping class="com.lab2.entities.PrescribedMedication"/>
        <mapping class="com.lab2.entities.Procedure"/>
        <mapping class="com.lab2.entities.PrescribedProcedure"/>
        <mapping class="com.lab2.entities.Test"/>
        <mapping class="com.lab2.entities.TestResult"/>
        <mapping class="com.lab2.entities.Diagnosis"/>
    </session-factory>
</hibernate-configuration>
